:root {
  --primary: #29A296;
  --primary-l1: #3BCEBF;
  --primary-l2: #6CDACF;
  --primary-l3: #BEEFEA;
  --primary-l4: #DEF7F4;
  --primary-l5: #EFFBFA;
  --white: #ffffff;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}