.table {
    width: 100%;
    border-collapse: collapse;
}

.tableHeader {
    text-align: left;
    padding: 10px;
    background-color: var(--primary-l2);
    border-bottom: 1px solid var(--primary-l1);
    color: var(--primary-l5);
    cursor: pointer;
}

.tableHeaderActive, .tableHeader:hover {
    background-color: var(--primary-l1);
}

.tableHeaderIcon {
    margin-left: 10px;
    margin-top: 11px;
    float: right;
}

.tableBody td {
    padding: 10px;
    border-bottom: 1px solid var(--primary-l3);
}

.tableBody tr:nth-child(2n+1) td {
    background-color: var(--primary-l4);
}

.tableNoDataCell {
    text-align: center;
    font-style: italic;
    font-weight: 1.2em;
}